<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <fa-icon [icon]="faDesktop"></fa-icon>Dashboards</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <fa-icon [icon]="faDatabase"></fa-icon>
                        Base Data
                        <!-- <fa-icon [icon]="faChevronDown"></fa-icon> -->
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Subjects</a></li>
                        <li><a class="dropdown-item" href="#">Regions</a></li>
                        <li><a class="dropdown-item" href="#">Mediums</a></li>
                        <li><a class="dropdown-item" href="#">Centers</a></li>
                        <li><a class="dropdown-item" href="#">Head Markers</a></li>
                        <li><a class="dropdown-item" href="#">Markers</a></li>
                        <li><a class="dropdown-item" href="#">Question Papers</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <fa-icon [icon]="faFile"></fa-icon>
                        Sync Script
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <fa-icon [icon]="faFile"></fa-icon>
                        Scripts
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <fa-icon [icon]="faFile"></fa-icon>
                        Allocation Center
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <fa-icon [icon]="faSuitcase"></fa-icon>
                        Results
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <fa-icon [icon]="faDatabase"></fa-icon>
                        MIS
                        <!-- <fa-icon [icon]="faChevronDown"></fa-icon> -->
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Markers</a></li>
                        <li><a class="dropdown-item" href="#">Head Markers</a></li>
                        <li><a class="dropdown-item" href="#">Local Server</a></li>
                        <li><a class="dropdown-item" href="#">Subject Wise Markers</a></li>
                        <li><a class="dropdown-item" href="#">Subject Wise HM</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <fa-icon [icon]="faSidebar"></fa-icon>
                        Statistics Scripts
                        <!-- <fa-icon [icon]="faChevronDown"></fa-icon> -->
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Subject Wise</a></li>
                        <li><a class="dropdown-item" href="#">Rejected By Subject</a></li>
                        <li><a class="dropdown-item" href="#">Rejected By Reason</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <fa-icon [icon]="faSidebar"></fa-icon>
                        Scripts Progress
                        <!-- <fa-icon [icon]="faChevronDown"></fa-icon> -->
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Rejected Script</a></li>
                        <li><a class="dropdown-item" href="#">Rejected Counts</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <fa-icon [icon]="faSidebar"></fa-icon>
                        Logs
                        <!-- <fa-icon [icon]="faChevronDown"></fa-icon> -->
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Active Log</a></li>
                        <li><a class="dropdown-item" href="#">Limit Updates</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>